<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xadrez Brasil - Escolher Bot</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Estilo/bots.css">
</head>
<body id="telabot">

    <div class="menu-container" style="align-items: flex-start; padding-top: 20px;">
        
        <div style="width: 100%; max-width: 600px; margin: 0 auto; position: relative; padding-top: 5px;">
            
            
             
            <h2 class="main-title" style="font-size: 1.8rem; margin-bottom: 20px; text-align: center; letter-spacing: 2px;">ESCOLHA SEU OPONENTE</h2>
            
            <div class="bot-list" id="container-bots">
                </div>
        

        </div>
    </div>
     <a href="mododejogo.html" class="btn-voltar">⬅ Voltar</a>
    <script type="module" src="../Script/modobot.js"></script>
</body>
</html>
