<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xadrez Brasil - Modos</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Estilo/style.css">
</head>
<body>

    <div class="menu-container">
        
       <div class="menu-box" style="position: relative; padding-top: 80px;">
    <a href="../index.html" class="btn-voltar" style="position: absolute; top: 30px; left: 20px; z-index: 100; cursor: pointer;">⬅ Voltar</a>

            
            <h2 class="main-title" style="font-size: 2.2rem; margin-bottom: 10px; text-align: center;">MODO DE JOGO</h2>
            
            <div class="cards-container">
                
                <a href="modobot.html" class="mode-card">
                    <h3>🤖 Vs Computador</h3>
                    <p>Desafie o poderoso motor Stockfish. Ajuste a dificuldade do nível Iniciante ao Grande Mestre e treine as suas táticas contra a Inteligência Artificial.</p>
                </a>

                <a href="modoplayer.html" class="mode-card">
                    <h3>👤 Presencial (2 Jogadores)</h3>
                    <p>Jogue contra um amigo no mesmo ecrã. O tabuleiro e as peças rodam automaticamente a cada turno para uma experiência de jogo perfeita lado a lado.</p>
                </a>

            </div>

        </div>
    </div>

</body>
</html>
